beautifulsoup4
branca
certifi
charset-normalizer
colorama
customtkinter
darkdetect
flatbuffers
folium
idna
Jinja2
MarkupSafe
mpmath
numpy
onnxruntime
opencv-python
packaging
protobuf
requests
soupsieve
sympy
typing_extensions
urllib3
wikipedia
xyzservices
plyer
flask
qrcode
Pillow
